<% @game_status = true if (@ready_up_counter >= @epc) %>
  <div align="center">
    <header class="waiting_room">
    <% if @game_status == false %>
      <h1>Waiting Room</h1><hr><br>
      </header>
      <h3>You can send invites with your room code number: <%= @room_code %></h3>
      <h3>Username: <%= @username %></h3>
      <br>
      <div id="player_count" style="background: cyan; width: 300px; padding: 10px;">
        <h3>Expected Player Count</h3>
        <%= @expected_player_count %>
        <h3>Count of players we're waiting for still</h3>
        <%= @epc - @waiting_room_players.count %>
        <br>
      </div>
      <br>

      <h3>Players in Room</h3>

      <%= turbo_stream_from "waiting_room_players" %>

      <%= turbo_frame_tag "waiting_room_players" do %>
        <%= render @waiting_room_players %>
        <%= form_with url: '/waiting_room', local: true, method: :put do |f|%>
          <%= f.text_field :one_ready_up, placeholder: "Type 'Ready'" %>
          <%= f.submit "Let's Go!" %>
        <% end %>
      <% end %>

    <% else %>

      <%= turbo_stream_from "waiting_room_players" %>

      <%= turbo_frame_tag "waiting_room_players" do %>
        <%= render @waiting_room_player %>
      <% end %>

    <% end %>
  </div>
