<!DOCTYPE html>
<html>
  <head>
    <title>TelepicFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>

    <div id="logout_button">
      <% if logged_in %>
        <%= button_to "Logout", logout_path, method: :delete %><br>
      <% end %>
    </div>

    <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
    <% end %>

    <%= yield %>
  </body>
</html>
